<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta(%d) %yellow([%thread]) %highlight(%-5level) %green(%logger{5}).%boldGreen(%M) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.springframework" level="DEBUG" />
</configuration>
